html, body {
    height: 100%;
}
.list-group {
    padding: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    box-shadow: none;
}
.list-group-item {
    background: none;
    border: none;
}
.input-group {
    margin-bottom: 10px;
}
.slider-label {
    margin-left: 10px;
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
